$background-color: #f9f9f9;
$background-color-w: #ffffff;
$background-color-l-w: #FAFAFA;
$font-color: #555555;
$font-color-w: #ffffff;
$footer-background-color:  #4caf50;
$copyright-background-color: #2F2F2F;
$spacer-background-color:  #4caf50;
$button-background-color: #2980b9;
$footer-text-color: #f4f4f4;

$line-hight: 1.5em;

$box-shadow: 0 15px 40px -15px hsla(0, 0%, 0%, 0.5);
$box-shadow-r: 5px 0 10px -2px rgba(0, 0, 0, 0.4);
$box-shadow-l: -5px 0 10px -2px hsla(0, 0%, 0%, 0.4);

$border: solid 1px rgba(0, 0, 0, 0.2);
