/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/*--------------------------------------------------------------
12.2 Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

.sticky {
    display: block;
}

.bypostauthor {
    display: block;
}



body {
	background-color: $background-color;
    font-family: $font;
    font-size: $font-size;
    color: $font-color;
    line-height: $line-height;
    font-weight: 400;
    font-style: normal;
    counter-reset: section;
}
section {
	padding: 20px 0;
    //@include transition-property(all);
    //@include transition-duration(0.7s);
}

a {
    text-decoration: none;
    color: $spacer-background-color;
}


.logo {

    a {
        color: #fff;
        text-decoration: none;
    }
}

.spacer {
	background: $spacer-background-color;
    width: 100%;

    .page-title {
        background: $spacer-background-color;
        color: $font-color-w;
    }
    
    h2 {
        color: $font-color-w;
    }
}

.page-title {
    border-bottom: solid 1px rgba(0, 0, 0, 0.21);
    padding: 20px;
}

.clearfix {
	clear: both;
}

.menu-bar {
    background-color: $footer-background-color;
    color: $font-color-w;
}
.active {
    background-color: $copyright-background-color;
}

.infor-1, .infor-2, .infor-3, .infor-4, .infor-5, .infor-6 {
    text-align: center;
    padding: 40px 0;
    @include transition-property(width);
    @include transition-duration(0.7s);
    
    .fa {
        color: #1abc9c;
    }
}

.spacer {
    
    .link {
        text-align: center;
        background-color: $button-background-color;
        padding: 17px 0;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        @include transition-property(all);
        @include transition-duration(0.3s);
        
        &:hover {
            background-color: $copyright-background-color;
        }
    }
}




.hfeed {
    //background-color: $background-color-l-w;
}



//contact fourm 

div.wpcf7 {
    margin: 50px 0;
}

.wpcf7 {
    font-style: italic;

    .your-name {

        input {
            width: 100%;
            padding: 15px;
            font-size: 16px;
            color: $font-color;
        }
    }
    
    .your-email {

        input {
            width: 100%;
            padding: 15px;
            font-size: 16px;
            color: $font-color;
        }
    }

    .your-subject {

        input {
            width: 100%;
            padding: 15px;
            font-size: 16px;
            color: $font-color;
        }
    }
    
    .your-message {

        .wpcf7-textarea {
            width: 100%;
            padding: 15px;
            font-size: 16px;
            color: $font-color;
        }
    }

    .wpcf7-submit {
        background-color: $footer-background-color;
        border: solid 1px rgba(0, 0, 0, 0.42);
        padding: 15px 40px;
        color: $font-color-w;

        &:hover {
            background-color: $spacer-background-color;
        }

    }

}


// ---------------------------------------------------- //
//                        footer                        //
// ---------------------------------------------------- //


.footer {
    background-color: $footer-background-color;
    overflow: hidden;
    
    .widget {
        padding: 40px 0;
        
        ul {
            padding: 0;
            list-style: none;

            li {
                display: inline-block;

                a {
                    background-color: $copyright-background-color;
                    padding: 8px 15px;
                    margin: 5px 3.6px;
                    font-size: 12px;
                    color: $footer-text-color;
                    display: inline-block;
                    text-decoration: none;
                    @include transition-property(background);
                    @include transition-duration(0.5s);
                
                    &:hover {
                        background-color: $spacer-background-color;
                    }
                }
            }
        }

        h4 {
            color: $font-color-w;
            text-transform: uppercase;
        }

        p {
            color: $footer-text-color;   

            a {
                color: #58EF5A;
                text-decoration: none;

                &:hover {
                    color: $font-color-w;
                }
            } 

        }

        .tagcloud {

            a {
                background-color: $copyright-background-color;
                padding: 8px 15px;
                margin: 5px 3.6px;
                font-size: 12px;
                color: $footer-text-color;
                display: inline-block;
                text-decoration: none;
                @include transition-property(background);
                @include transition-duration(0.5s);
                
                &:hover {
                    background-color: $spacer-background-color;
                }
            }
        }
    }
}

.copyright {
    background-color: $copyright-background-color;
    
    p {
        color: #999;
    }

    a {
        text-decoration: none;
        color: #999;

        &:hover {
            color: $font-color-w;
        }
    }
}

.recentcomments a {
    padding: 8px 15px;
    margin: 5px 3.6px;
    display: inline-block;
}


.section-title {
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    text-rendering: auto;
    letter-spacing: 0.1em;
    text-align: left;
    margin-top: 80px;

    &:before {
        content: "";
        border-left: solid 5px $spacer-background-color;
        margin-right: 10px;
        opacity: 0.8;
        padding: 20px 0;
    }

}

.features img {
    border: solid 3px #fff;
    box-shadow: 0 2px 2px rgba(34, 34, 34, 0.46);
}

.main {
    overflow: hidden;
}