.slider {
    //background: url(../img/graduating.jpg) no-repeat 50% 50%;
    //background-color: #E47575;
    @include background-size(cover);
    width: 100%;
    min-height: 300px;
    max-height: 800px;
    height: 75vh;
    overflow: hidden;
    position: relative;
    padding: 0;
    @include transition-property(all);
    @include transition-duration(0.7s);

    .overlay {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    h3 {
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        background: rgba($color-2, .9);
        padding: 10px 0;
        margin: 0;
        line-height: 1.5;
    }
}