@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative:400);
$hero-hight: 500px;

.hero {
	width: 100%;
	height: $hero-hight;
	background-repeat: no-repeat;
	@include background-size( cover );
	position: relative;
	overflow: hidden;
	background-color: $spacer-background-color;

	img {
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		top: 0;
	}
}

.hero-title {
	height: $hero-hight;
	@include display-flex;
	@include align-items(center);
	@include justify-content(center);

	h1 {
		font-family: 'Cinzel Decorative', cursive;
		font-size: 4rem;
		padding: 0 50px;
		font-weight: 400;
		color: $font-color-w;
		line-height: $line-hight;
		text-align: center;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
	}
}



