.logo {
    @include breakpoint($mobile-screen) {
       @include grid-span(11, 1); 
    }
    @include breakpoint($minimum-screen) {
        @include grid-span(4, 1);  
    }
}

.logo-bar {
    width: 90%;
    margin: 0 auto;
    
    @include breakpoint($minimum-screen) {
        @include grid-span(3, 1); 
    }
}

.menu-bar {
    padding: 0;
    
    .container {
        width: 100%;
        
        @include breakpoint($minimum-screen) {
            width: 90%; 
        }
    }
    @include breakpoint($minimum-screen) {
        padding: 20px 0;  
    }
}



.main-menu {
    @include breakpoint($mobile-screen) {
        @include grid-span(12);
        background-color: $button-background-color;
        @include transition-property(all);
        @include transition-duration(0.7s);
        
        ul {
            padding: 0;
            li {
                display: block;
                
                a {
                    display: block;
                    padding: 10px 0;
                    color: $font-color-w;
                    
                    &:hover {
                        background-color: $copyright-background-color;
                    }
                }
            }
        }
    }
    @include breakpoint($minimum-screen) {
        @include grid-span(8, 4);  
        margin-top: 5px;
        width: auto;
        display: block;
        background: transparent;

        ul {

		  li {
			 display: inline-block;
			 list-style: none;
			 text-align: center;

			 a {
				color: $font-color-w;
				text-decoration: none;
				font-size: $font-size;
                padding: 10px 15px;
                
                 &:hover {
                     background-color: $copyright-background-color;
                }
			 }
		  }
	   }
    }
}

.main-navigation {
    @include breakpoint($mobile-screen) {
        @include grid-span(12);
        display: block;
        clear: left;

        @include breakpoint($minimum-screen) {
            @include grid-span(9, 4);
            clear: none;
        }
    }

    .menu-toggle{
        @include breakpoint($mobile-screen) {
            margin: -55px 40px;
            float: right;
            border: none;
            background: transparent;
            color: $font-color-w;
        }  
    }

    ul {
        @include breakpoint($minimum-screen) {
            float: right;
        }
    }

    li {
        @include breakpoint($mobile-screen) {
            @include grid-span(12);
            float: none;
            text-align: center;

            @include breakpoint($minimum-screen) {
                float: none;
                width: auto;
            }
        }   
    } 
}



